<html lang="zh-CN" xml:lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>

    <script type="text/javascript" async="" src="//s1.mi.com/stat/18/jquery.statData.min.js?d=201931"></script>
    <script type="text/javascript" async="" src="//s1.mi.com/stat/18/xmst.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <title>小米手机/小米平板 - 小米商城</title>
    <meta name="viewport" content="width=1226">
    <meta name="description" content="小米商城-直营小米手机、红米手机，囊括小米5，小米Max，小米4S，小米4c，红米Note 3、红米3S，支持移动、联通、电信多个版本，欢迎选购。">
    <meta name="keywords" content="小米手机,小米手机价格,小米手机大全,小米平板电脑,小米商城">

    <link rel="shortcut icon" href="//s01.mifile.cn/favicon.ico" type="image/x-icon">
    <link rel="icon" href="//s01.mifile.cn/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="//s01.mifile.cn/css/base.min.css?v201903011a1">
    <link rel="stylesheet" type="text/css" href="//s01.mifile.cn/css/channel/index.min.css?20170901101">
    <script type="text/javascript">var _head_over_time = (new Date()).getTime();</script>
    <script src="https://account.xiaomi.com/pass/userInfoJsonP?userId=0&amp;callback=setLoginInfo_getAccountInfo"
            type="text/javascript" async=""></script>
</head>
<body>
<div th:include="top.html"></div>
<div class="page-main channel-page" id="J_channelPage">
    <!--<div class="channel-focus">
        <div class="ui-wrapper" >
            <div class="ui-viewport" style="width: 100%; overflow: hidden; position: relative; height: 620px;">
                <div id="J_channelSlider" style="width: auto; position: relative;">

                    <div class="slide loaded" th:each="dp,i:${duoProduct}" th:if="${i.index<1}"
                         data-width="2560" data-height="620"
                         style="height: 620px; background-color: rgb(12, 19, 36); float: none; list-style: none; position: absolute; width: 1226px; z-index: 50; display: block;">
                        <a class="exposure" href="//item.mi.com/product/10000123.html"
                           data-log_code="311915pcchannelgallery001001#t=ad&amp;act=product&amp;page=channel&amp;pid=10000123&amp;page_id=1915&amp;bid=3007496.1&amp;adp=1089&amp;adm=9607"
                           target="_blank" data-stat-id="42b9c1e1f4c48342"
                           ><img th:src="@{'http://localhost:8084'+${dp.fileName}}" width="2500" height="620" style="margin-left: -500px"></a>
                    </div>

                </div>
            </div>
            <div class="ui-controls ui-has-pager ui-has-controls-direction">
                <div class="ui-pager ui-default-pager">
                    <div class="ui-pager-item"><a href="" data-slide-index="0" class="ui-pager-link active">1</a></div>
                    <div class="ui-pager-item"><a href="" data-slide-index="1" class="ui-pager-link">2</a></div>
                </div>
                <div class="ui-controls-direction"><a class="ui-prev" href="" data-stat-id="ad34778ec64de2bb"
                                                      onclick="_msq.push(['trackEvent', '2c573917a333c7fe-ad34778ec64de2bb', '', 'pcpid', '']);">上一张</a><a
                        class="ui-next" href="" data-stat-id="012e47433fd216e2"
                        onclick="_msq.push(['trackEvent', '2c573917a333c7fe-012e47433fd216e2', '', 'pcpid', '']);">下一张</a>
                </div>
            </div>
        </div>
    </div>-->

    <div class="container channel-product channel-product-two4 J_channelLazyBox is-visible">
        <div class="row">

            <div class="span10 product-cell shadow" th:each="dp:${duoProduct}">
                <div class="figure"><a class="exposure" href="//item.mi.com/product/10000084.html"
                                       target="_blank" data-stat-id="2a550cdac217fceb">
                    <img class="J_lazy" alt="" style="background-color:#FFFFFF;"
                         th:src="@{'http://localhost:8084'+${dp.fileName}}"> </a></div>
                <h3 class="title"><a class="exposure" href="//item.mi.com/product/10000084.html"
                                     target="_blank" data-stat-id="74f48496e2e967c0" th:text="${dp.getProd().pname}">红米Note
                    5</a></h3>
                <p class="desc" th:text="${#strings.length(dp.getProd().description) > 20 ?
							   			#strings.substring(dp.getProd().description,0,20)+'..':dp.getProd().description}">红米国民品质，拍照专家</p>
                <p class="price"><strong th:text="${dp.getProd().shopPrice}">999</strong>元起
                    <del th:text="${dp.getProd().yuanPrice > dp.getProd().shopPrice ? dp.getProd().yuanPrice : ''}">1399元</del>
                </p>
            </div>

        </div>
    </div>
    <div class="container channel-line" style=" height:14px; background-color:#f5f5f5;"></div>
</div>


<!-- .modal-weixin END -->
<div class="modal modal-hide modal-bigtap-queue" id="J_bigtapQueue">
    <div class="modal-body">
        <span class="close" data-dismiss="modal" aria-hidden="true">退出排队</span>
        <div class="con">
            <div class="title">正在排队，请稍候喔！</div>
            <div class="queue-tip-box">
                <p class="queue-tip">当前人数较多，请您耐心等待，排队期间请不要关闭页面。</p>
                <p class="queue-tip">时常来官网看看，最新产品和活动信息都会在这里发布。</p>
                <p class="queue-tip">下载小米商城 App 玩玩吧！产品开售信息抢先知道。</p>
                <p class="queue-tip">发现了让你眼前一亮的小米产品，别忘了分享给朋友！</p>
                <p class="queue-tip">产品开售前会有预售信息，关注官网首页就不会错过。</p>
            </div>
        </div>

        <div class="queue-posters">
            <div class="poster poster-3"></div>
            <div class="poster poster-2"></div>
            <div class="poster poster-1"></div>
            <div class="poster poster-4"></div>
            <div class="poster poster-5"></div>
        </div>
    </div>
</div>
<!-- .xm-dm-queue END -->
<div id="J_bigtapError" class="modal modal-hide modal-bigtap-error">
    <span class="close" data-dismiss="modal" aria-hidden="true"><i class="iconfont"></i></span>
    <div class="modal-body">
        <h3>抱歉，网络拥堵无法连接服务器</h3>
        <p class="error-tip">由于访问人数太多导致服务器压力山大，请您稍后再重试。</p>
        <p>
            <a class="btn btn-primary" id="J_bigtapRetry" data-stat-id="cb61bccda6f25a90"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-cb61bccda6f25a90', '', 'pcpid', '']);">重试</a>
        </p>
    </div>
</div>


<div id="J_bigtapModeBox" class="modal fade modal-hide modal-bigtap-mode">
    <span class="close" data-dismiss="modal"><i class="iconfont"></i></span>
    <div class="modal-body">
        <h3 class="title">为防黄牛，请您输入下面的验证码</h3>
        <p class="desc">在防黄牛的路上，我们一直在努力，也知道做的还不够。<br>
            所以，这次劳烦您多输一次验证码，我们一起防黄牛。</p>
        <div class="mode-loading" id="J_bigtapModeLoading">
            <img src="//i1.mifile.cn/f/i/2014/cn/loading.gif" alt="" width="32" height="32">
            <a id="J_bigtapModeReload" class="reload  hide" href="javascript:void(0);" data-stat-id="2de5b45717f3289e"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-2de5b45717f3289e', 'javascript:void0', 'pcpid', '']);">网络错误，点击重新获取验证码！</a>
        </div>
        <div class="mode-action hide" id="J_bigtapModeAction">
            <div class="mode-con" id="J_bigtapModeContent"></div>
            <input type="text" name="bigtapmode" class="input-text" id="J_bigtapModeInput" placeholder="请输入正确的验证码">
            <p class="tip" id="J_bigtapModeTip"></p>
            <a class="btn  btn-gray" id="J_bigtapModeSubmit" data-stat-id="656c3e98016a0d8a"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-656c3e98016a0d8a', '', 'pcpid', '']);">确认</a>
        </div>
    </div>
</div>
<!-- .xm-dm-error END -->
<div id="J_modal-globalSites" class="modal fade modal-hide modal-globalSites" data-width="640">
    <div class="modal-hd">
        <a class="close" data-dismiss="modal" data-stat-id="a0641baa711604bc"
           onclick="_msq.push(['trackEvent', '2c573917a333c7fe-a0641baa711604bc', '', 'pcpid', '']);"><i
                class="iconfont"></i></a>
        <span class="title">Select Region</span>
    </div>
    <div class="modal-bd">
        <h3>Welcome to Mi.com</h3>
        <p class="modal-globalSites-tips">Please select your country or region</p>
        <p class="modal-globalSites-links clearfix">

            <a href="//www.mi.com/hk/" data-stat-id="eb091b4a01763b29"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-eb091b4a01763b29', '//www.mi.com/hk/', 'pcpid', '']);">Hong
                Kong</a>
            <a href="//www.mi.com/tw/" data-stat-id="a521ac344c7690bc"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-a521ac344c7690bc', '//www.mi.com/tw/', 'pcpid', '']);">Taiwan</a>
            <a href="//www.mi.com/sg/" data-stat-id="c761ebec7f255e10"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-c761ebec7f255e10', '//www.mi.com/sg/', 'pcpid', '']);">Singapore</a>
            <a href="//www.mi.com/my/" data-stat-id="67af87f49719a225"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-67af87f49719a225', '//www.mi.com/my/', 'pcpid', '']);">Malaysia</a>
            <a href="//www.mi.com/ph/" data-stat-id="acb65aeaa8c6194b"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-acb65aeaa8c6194b', '//www.mi.com/ph/', 'pcpid', '']);">Philippines</a>
            <a href="//www.mi.com/in/" data-stat-id="a6f69833d363fa58"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-a6f69833d363fa58', '//www.mi.com/in/', 'pcpid', '']);">India</a>
            <a href="//www.mi.com/id/" data-stat-id="a1b90cab00f67869"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-a1b90cab00f67869', '//www.mi.com/id/', 'pcpid', '']);">Indonesia</a>
            <a href="//www.mi.com/global/" data-stat-id="e4c8815aeb152c3d"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-e4c8815aeb152c3d', '//www.mi.com/global/', 'pcpid', '']);">Global
                Home</a>
            <a href="//www.mi.com/mena/" data-stat-id="418afdde60dd3282"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-418afdde60dd3282', '//www.mi.com/mena/', 'pcpid', '']);">MENA</a>
            <a href="//www.mi.com/pl/" data-stat-id="680dfde939f92362"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-680dfde939f92362', '//www.mi.com/pl/', 'pcpid', '']);">Poland</a>
            <a href="//www.mi.com/ua/" data-stat-id="05194c118830f3f6"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-05194c118830f3f6', '//www.mi.com/ua/', 'pcpid', '']);">Ukraine</a>
            <a href="//www.mi.com/ru/" data-stat-id="d4b1cd5dbaf5d7eb"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-d4b1cd5dbaf5d7eb', '//www.mi.com/ru/', 'pcpid', '']);">Russia</a>
            <a href="//www.mi.com/vn/" data-stat-id="1350c09709e27ff3"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-1350c09709e27ff3', '//www.mi.com/vn/', 'pcpid', '']);">Vietnam</a>
            <a href="//www.mi.com/mx/" data-stat-id="50cdcda3fa46d3a8"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-50cdcda3fa46d3a8', '//www.mi.com/mx/', 'pcpid', '']);">Mexico</a>
            <a href="//www.mi.com/kr/" data-stat-id="6efdcc238f02b28f"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-6efdcc238f02b28f', '//www.mi.com/kr/', 'pcpid', '']);">Korea</a>
            <a href="//www.mi.com/eg/" data-stat-id="250f77a6d4496a77"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-250f77a6d4496a77', '//www.mi.com/eg/', 'pcpid', '']);">Egypt</a>
            <a href="//www.mi.com/th/" data-stat-id="592285987999d123"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-592285987999d123', '//www.mi.com/th/', 'pcpid', '']);">Thailand</a>
            <a href="//www.mi.com/es/" data-stat-id="39bcd3ead188acc1"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-39bcd3ead188acc1', '//www.mi.com/es/', 'pcpid', '']);">Spain</a>
            <a href="//www.mi.com/us/" data-stat-id="1ce43c402523bafc"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-1ce43c402523bafc', '//www.mi.com/us/', 'pcpid', '']);">United
                States</a>
            <a href="//www.mi.com/it/" data-stat-id="81a989a7f981415a"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-81a989a7f981415a', '//www.mi.com/it/', 'pcpid', '']);">Italy</a>
            <a href="//www.mi.com/fr/index.html" data-stat-id="041b222ce2cb6b89"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-041b222ce2cb6b89', '//www.mi.com/fr/index.html', 'pcpid', '']);">France</a>
            <a href="//www.mi.com/bd/" data-stat-id="e38b5d555aee49ea"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-e38b5d555aee49ea', '//www.mi.com/bd/', 'pcpid', '']);">Bangladesh</a>
            <a href="//www.mi.com/uk/" data-stat-id="8b34492b2652c37a"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-8b34492b2652c37a', '//www.mi.com/uk/', 'pcpid', '']);">United
                Kingdom</a>
            <a href="//www.mi.com/cl/" data-stat-id="5061046b7d3cf970"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-5061046b7d3cf970', '//www.mi.com/cl/', 'pcpid', '']);">Chile</a>
            <a href="//www.mi.com/np/" data-stat-id="46a3851b509533c0"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-46a3851b509533c0', '//www.mi.com/np/', 'pcpid', '']);">Nepal</a>
            <a href="//www.mi.com/lk/" data-stat-id="9ba2aa64641f8e41"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-9ba2aa64641f8e41', '//www.mi.com/lk/', 'pcpid', '']);">Sri
                Lanka</a>
            <a href="//www.mi.com/tr/" data-stat-id="486fe9d3eef07a21"
               onclick="_msq.push(['trackEvent', '2c573917a333c7fe-486fe9d3eef07a21', '//www.mi.com/tr/', 'pcpid', '']);">Turkey</a>
        </p>
    </div>
</div>
<!-- .modal-globalSites END -->
<script src="//s01.mifile.cn/js/base.min.js?v201903011a"></script>
<script>
    (function () {
        MI.namespace('GLOBAL_CONFIG');
        MI.GLOBAL_CONFIG = {
            orderSite: '//order.mi.com',
            wwwSite: '//www.mi.com',
            cartSite: '//cart.mi.com',
            itemSite: '//item.mi.com',
            assetsSite: '//s01.mifile.cn',
            listSite: '//list.mi.com',
            searchSite: '//search.mi.com',
            mySite: '//my.mi.com',
            damiaoSite: 'http://tp.hd.mi.com/',
            damiaoGoodsId: [],
            logoutUrl: '//order.mi.com/site/logout',
            staticSite: '//static.mi.com',
            quickLoginUrl: 'https://account.xiaomi.com/pass/static/login.html'
        };
        MI.setLoginInfo.orderUrl = MI.GLOBAL_CONFIG.orderSite + '/user/order';
        MI.setLoginInfo.logoutUrl = MI.GLOBAL_CONFIG.logoutUrl;
        MI.setLoginInfo.init(MI.GLOBAL_CONFIG);
        MI.miniCart.init();
        MI.updateMiniCart();
    })();
</script>
<!-- <script src="//i1.mifile.cn/f/i/15/stat/js/xmsg_ti.js"></script> -->
<script type="text/javascript" src="//s01.mifile.cn/js/channel/index.min.js?2018121301"></script>

<script>
    var _msq = _msq || [];
    _msq.push(['setDomainId', 100]);
    _msq.push(['trackPageView']);
    (function () {
        var ms = document.createElement('script');
        ms.type = 'text/javascript';
        ms.async = true;
        ms.src = '//s1.mi.com/stat/18/xmst.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ms, s);
    })();
</script>



<div id="J_agreeModal" class="modal fade modal-agree in modal-hide">
    <div class="modal-hd"><a class="close J_close" data-dismiss="modal" data-stat-id="a0641baa711604bc"
                             onclick="_msq.push(['trackEvent', '2c573917a333c7fe-a0641baa711604bc', '', 'pcpid', '']);"><i
            class="iconfont"></i></a>
        <h3>小米商城协议更新</h3></div>
    <div class="modal-body">
        <div class="desc"></div>
        <div class="con"></div>
    </div>
    <div class="modal-ft">
        <div class="actions">
            <button class="btn btn-line-gray J_close" data-dismiss="modal">不同意</button>
            <button class="btn btn-primary J_sure">同意</button>
        </div>
    </div>
</div>
<div th:include="button.html"></div>
</body>